*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
main{
    background:linear-gradient(to right bottom,#00F9CC,#0DF0C7);
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
}
.center{
    width:60%;
    z-index:3;
    height:70%;
    background:linear-gradient(to right top,rgba(255,255,255,0.7),rgba(255,255,255,0.4));
    border-radius:40px;
}
.first{
    position:absolute;
    top:2%;
    width:170px;
    height:170px;
    left:13%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3))
}
.second{
    position:absolute;
    bottom:3%;
    width:150px;
    height:150px;
    right:15%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3))
}
.third{
    position:absolute;
    bottom:4%;
    width:80px;
    height:80px;
    left:4%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3))
}
.forth{
    position:absolute;
    top:-1%;
    width:100px;
    height:100px;
    left:-2.5%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.5))
}
.fifth{
    position:absolute;
    top:.3%;
    width:80px;
    height:80px;
    right:35%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3))
}
.sixth{
    position:absolute;
    top:30%;
    width:120px;
    height:120px;
    right:-2%;
    border-radius:50%;
    z-index:1;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3))
}
img.game{
    width:2.5em;
    height:2.5em;
    border-radius:2em;
    position:relative;
    left:.3em;
    top:.3em

}
img.profile{
    width:3em;
    height:3em;
    border-radius:3em;
}
.center{
    display:flex;
}
.dashboard{
    flex:1;
    display:flex;
    flex-direction: column;
    background:linear-gradient(to left bottom,rgba(255,255,255,0.5),rgba(255,255,255,0.2));
    border-radius:40px;
    justify-content: space-between;
    align-items: center;
}
:root{
    --primary-color:#4e5599;
    --secondary-color:#0b1672;
}
.dashboard .profile{
   margin-top:15px;
   text-align: center;
   cursor:pointer;
}
.dashboard h4{
    color:var(--secondary-color);
    cursor:pointer;
}
.dashboard p{
    font-size:11px;
    cursor:pointer;
    color:var(--primary-color);
}
.dashboard ul li{
    list-style-type:none;
    padding:10px;
    
}
.dashboard .event{
    position:relative;
    top:-1em;
}
.dashboard ul li a{
    text-decoration:none;
}
.dashboard .pro{
    background:linear-gradient(rgba(21,242,202),rgba(101,223,201));
    padding:30px;
    color:white;
    border-radius: 20px;
    position:relative;
    bottom:.5em;
}
.dashboard .pro p{
    font-weight:bold;
    font-size:16px;
    color:white;
}
.active-games{
    flex:2;
    position:relative;
    left:5%;
    top:8%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.active-games .search h3{
    color:var(--secondary-color)
}
.active-games .search .progress{
    width:170px;
    height:18px;
    border-radius:20px;
    background:linear-gradient(to right bottom ,rgba(255,255,255,0.7),rgba(255,255,255,0.4));
    border:none;
    outline:none;
}
.active-games .main{
    width:400px;
    height:4em;
    background:linear-gradient(to right bottom ,rgba(255,255,255,0.7),rgba(255,255,255,1));
    box-shadow:1px 3px 5px #c7c7c7;
    border-radius:10px;
    margin-bottom:1em;
}
.active-games .main h3 {
   font-size:17px;
   color:var(--primary-color);
   font-weight:bold;
}
.active-games .main p{
    font-size:14px;
    color:var(--primary-color);
    font-weight:bold;
}
.cards{
    position:relative;
    top:-3em;
}
.active-games .main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.active-games .main .progress0{
    width:180px;
    height:15px;
    position:relative;
    border-radius:15px;
    background:#ceccce
}
.active-games .main .progress1{
    width:180px;
    height:15px;
    position:relative;
    border-radius:15px;
    background:#ceccce
}
.active-games .main .progress2{
    width:180px;
    height:15px;
    position:relative;
    border-radius:15px;
    background:#ceccce
}
.active-games .main .progress0::after{
    content:'';
    width:80px;
    height:15px;
    background:#07db07;
    border-radius:15px;
    position:absolute;
    top:0;
    left:0;
}
.active-games .main .progress1::after{
    content:'';
    width:120px;
    height:15px;
    background:#07db07;
    border-radius:15px;
    position:absolute;
    top:0;
    left:0;
}
.active-games .main .progress2::after{
    content:'';
    width:165px;
    height:15px;
    background:#07db07;
    border-radius:15px;
    position:absolute;
    top:0;
    left:0;
}
.active-games .main .percentage p{
    position:relative;
    right:1em;
    color:#58ee70;
}
